<div class="flex flex-column justify-content-center align-items-center h-full">
    <ng-container *ngIf="person.id === 0">
        <div class="flex h-full align-items-center">
            <h1 class="text-center">No Person Selected</h1>
        </div>
    </ng-container>
    <ng-container *ngIf="isLoading && person.id !== 0">
        <div class="flex h-full align-items-center">
            <p-progressSpinner ariaLabel="loading" />
        </div>
    </ng-container>
    <ng-container #dataLoaded *ngIf="!isLoading && person.id !== 0">
        <ng-container *ngIf="isOpenFromNewPage && !personID">
            <p-button [routerLink]="['/people']" label="Back To People" icon="pi pi-angle-left" iconPos="left"
                class="hidden md:block mt-5 align-self-start" />
        </ng-container>
        <ng-container *ngIf="isError">
            <p style="color: red;">Error loading people.</p>
            <span style="color: red;">{{ errorText || "No message" }}</span>
        </ng-container>
        <!-- NAME -->
        <h1 class="flex gap-2">
            {{person.name}}
            <p-tag *ngIf="person.gender === 'male'" icon="pi pi-mars" value="Male" severity="success" class="flex" />
            <p-tag *ngIf="person.gender === 'female'" icon="pi pi-venus" value="Female" severity="info" class="flex" />
            <p-tag *ngIf="person.gender !== 'male' && person.gender !== 'female'" icon="pi pi-exclamation-circle"
                value="Unknown Gender" severity="warning" class="flex" />
        </h1>
        <p-divider />
        <!-- DETAILS -->
        <div class="details-container flex gap-5 flex-column md:flex-row">
            <p-card class="flex name-container">
                <h2 class="flex mt-0">Details</h2>
                <table>
                    <tbody>
                        <tr>
                            <td class="text-muted">Height</td>
                            <td><p-divider layout="vertical" /></td>
                            <td><strong>{{person.height}}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-muted">Mass</td>
                            <td><p-divider layout="vertical" /></td>
                            <td><strong>{{person.mass}}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-muted">Hair Color</td>
                            <td><p-divider layout="vertical" /></td>
                            <td><strong>{{person.hair_color}}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-muted">Skin Color</td>
                            <td><p-divider layout="vertical" /></td>
                            <td><strong>{{person.skin_color}}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-muted">Eye Color</td>
                            <td><p-divider layout="vertical" /></td>
                            <td><strong>{{person.eye_color}}</strong></td>
                        </tr>
                        <tr>
                            <td class="text-muted">Birth Year</td>
                            <td><p-divider layout="vertical" /></td>
                            <td><strong>{{person.birth_year}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </p-card>
            <p-card class="flex">
                <!-- FILMS -->
                <h2 class="flex gap-2 mt-0">
                    Films
                    <p-tag [value]="person.films.length.toString()" severity="info" class="flex" />
                </h2>
                <ng-container *ngIf="person.films.length > 0">
                    <div class="flex flex-wrap gap-2">
                        <ng-template ngFor let-link [ngForOf]="person.films" let-i="index">
                            <app-linked-item [link]="link" indexToGetName="title" />
                        </ng-template>
                    </div>
                </ng-container>
                <!-- SPECIES -->
                <h2 class="flex gap-2">
                    Species
                    <p-tag [value]="person.species.length.toString()" severity="info" class="flex" />
                </h2>
                <ng-container *ngIf="person.species.length > 0">
                    <div class="flex flex-wrap gap-2">
                        <ng-template ngFor let-link [ngForOf]="person.species" let-i="index">
                            <app-linked-item [link]="link" indexToGetName="name" />
                        </ng-template>
                    </div>
                </ng-container>
                <!-- VEHICLES -->
                <h2 class="flex gap-2">
                    Vehicles
                    <p-tag [value]="person.vehicles.length.toString()" severity="info" class="flex" />
                </h2>
                <ng-container *ngIf="person.vehicles.length > 0">
                    <div class="flex flex-wrap gap-2">
                        <ng-template ngFor let-link [ngForOf]="person.vehicles" let-i="index">
                            <app-linked-item [link]="link" indexToGetName="name" />
                        </ng-template>
                    </div>
                </ng-container>
                <!-- STARSHIPS -->
                <h2 class="flex gap-2">
                    Star Ships
                    <p-tag [value]="person.starships.length.toString()" severity="info" class="flex" />
                </h2>
                <ng-container *ngIf="person.starships.length > 0">
                    <div class="flex flex-wrap gap-2">
                        <ng-template ngFor let-link [ngForOf]="person.starships" let-i="index">
                            <app-linked-item [link]="link" indexToGetName="name" />
                        </ng-template>
                    </div>
                </ng-container>
            </p-card>
        </div>
        <!-- <div class="card flex flex-wrap p-fluid gap-3">
        <div class="flex-auto md:flex md:justify-content-start md:align-items-center flex-column">
            <label for="icon" class="font-bold block mb-2">Icon Mode</label>
            <p-tree 
                class="w-full md:w-30rem" 
                [value]="filmNodes" 
                loadingMode="icon" 
                (onNodeExpand)="onNodeExpand($event)" />
        </div>
    </div> -->
        <!-- <pre>{{ person | json }}</pre> -->
    </ng-container>
</div>