<div class="flex gap-5 mt-2 md:mt-5 flex-column md:flex-row">
    <p-card>
        <app-side-table 
            [title]="'People List'" 
            [isLoading]="isLoading"
            [tableData]="people.results" 
            (onDoSearchData)="doSearchPeople($event)" 
            (onDoViewDetailData)="viewDetailPerson($event)"
        ></app-side-table>
        <ng-template pTemplate="footer">
            <div class="flex align-items-center justify-content-end">
                <span class="mx-1 text-color">Items per page: </span>
                <p-paginator [first]="0" [rows]="10" [totalRecords]="people.count" (onPageChange)="onPageChange($event)"
                    [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}"
                    [showPageLinks]="false" [showFirstLastIcon]="false"></p-paginator>
            </div>
        </ng-template>
    </p-card>
    <div #personDetailSection class="person-detail-section">
        <app-person-detail [personID]="personDetailID" />
    </div>
</div>
<!-- <ng-container *ngIf="isLoading; else dataLoaded">
    <p>Loading...</p>
</ng-container>
<ng-template #dataLoaded>
    <ng-container *ngIf="isError">
        <p style="color: red;">Error loading people.</p>
        <span style="color: red;">{{ errorText || "No message" }}</span>
    </ng-container>
    <ng-container *ngIf="people.results.length > 0 && !isError">
        <pre>{{ people | json }}</pre>
    </ng-container>
    <ng-container *ngIf="people.results.length == 0 && !isError">
        <p>No people found.</p>
    </ng-container>
</ng-template> -->